#sabana
{
   font-family: fantasy;
	width:100%;
	height: 100%;
}

#menu
{
   font-family: fantasy;
	margin:0 auto;
	width:80%;
	height:10%;
	background-color:#81F7F3;
	text-align:center;
}

#contenido
{
   font-family: fantasy;
	margin: 0 auto;
	width:80%;
	height: 80%;
	background-color: white;
	text-align:center;
}

#footer
{
   font-family: fantasy;
	margin: 0 auto;
	width:80%;
	height:10%;
	background-color:#81F7F3;
	text-align:center;
	border-radius:0px 0px 5px 5px;
}

#popup 
{
   font-family: fantasy;
   visibility: hidden;
   opacity: 0;
   margin-top: -300px;
   height: 100%;
   overflow-y: scroll;

}

#popup:target 
{
   font-family: fantasy;
   visibility:visible;
   opacity: 1;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0;
   left:0;
   right:0;
   bottom:0;
   margin:0;
   z-index: 999;
   transition:all 1s;
}

.popup-contenedor 
{
   font-family: fantasy;
   position: relative;
   margin:7% auto;
   padding:30px 50px;
   background-color: #fafafa;
   color:#333;
   border-radius: 3px;
   width:50%;
/*   height:60%;
   overflow-y: scroll;*/
}

a.popup-cerrar 
{
   font-family: fantasy;
   position: absolute;
   top:3px;
   right:3px;
   background-color: #333;
   padding:7px 10px;
   font-size: 20px;
   text-decoration: none;
   line-height: 1;
   color:#fff;
}

table.tabla-cat
{
	text-align: center;
   font-size: 15;
   font-family: fantasy;
   position: fixed;
   top: 21%;
   bottom: 12%;
   left: 10%;
   margin-left: 0px;
   right: 10%;

}

table.tabla-cat th
{
	background-color:#1E90FF;
   color: white;
   font-size: 16;
   font-family: fantasy;
}

table.tabla-cat tr:hover td
{
   background-color:#F1F1F1;
   font-family: fantasy;
}

html {
  margin: 0;
  }
  body {
  margin: 5mm 8mm 5mm 8mm;

  }

#submit 
{
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 3px solid #FFFFFF;
    background: #00008B;
    border-radius: 8px 8px 8px 8px;
    color:white;
    font-family: fantasy;
}

#submit:hover 
{
    background: #ddd;
    color:black;
    border: 3px solid #00008B;

}

table.tabla-catb
{
	text-align: center;
   font-size: 12;
   font-family: fantasy;
   border: 3px solid #1E90FF;
   border-radius: 8px 8px 8px 8px;
   position: fixed;
   top: 21%;
   bottom: 12%;
   left: 10%;
   margin-left: 0px;
   right: 10%;
}

table.tabla-catb td 
{
  border: 1px solid #D3D3D3;
}

table.tabla-catb th
{
	background-color:#1E90FF;
   color: white;
   font-size: 13;
   font-family: fantasy;
}

table.tabla-catb tr:hover td
{
   background-color:#F1F1F1;
   font-family: fantasy;
}

table.obser td 
{
  border: 0px solid #FFFFFF;
}

.texto
{
   color: #000000;
   size: 500px;
   font-family: 'Times New Roman', Times, serif;
   font-style: normal;
   font-weight:bold;
   text-align: center;
}

/* Estilo de la tabla Representados */


table.tabla-catdeta
{
    text-align: center;
   font-size: 15;
   position: fixed;
   top: 29%;
   left: 30%;
   margin-left: 0px;
   right: 30%;
   margin-top: 7%;
   font-family: fantasy;
}

table.tabla-catdeta th
{
	background-color:#1E90FF;
   color: white;
   font-size: 16;
   font-family: fantasy;
}

table.tabla-catdeta tr:hover td
{
   background-color:#F1F1F1;
   font-family: fantasy;
}

table.tabla-catdetalle
{
	text-align: center;
   font-size: 12;
   font-family: fantasy;
   border: 3px solid #00008B;
   border-radius: 8px 8px 8px 8px;
   position: fixed;
   top: 29%;
   left: 30%;
   margin-left: 0px;
   margin-top: 7%;
   right: 30%;
}

table.tabla-catdetalle td 
{
  border: 1px solid #D3D3D3;
}

table.tabla-catdetalle th
{
	background-color:#1E90FF;
   color: white;
   font-size: 13;
   font-family: fantasy;
}

table.tabla-catdetalle tr:hover td
{
   background-color:#F1F1F1;
   font-family: fantasy;
}